In [1]:
import pandas as pd
import gzip
import json



df = pd.read_csv('./ml-1m/movies.dat', sep='::', names=['movieId', 'title', 'genres'])
df

<ipython-input-1-41fc1c88fd5b>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('./ml-1m/movies.dat', sep='::', names=['movieId', 'title', 'genres'])

,movieId,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [2]:
df['genres'] = df['genres'].str.split('|')
df = df.explode("genres")
df

      movieId                       title      genres
0           1            Toy Story (1995)   Animation
0           1            Toy Story (1995)  Children's
0           1            Toy Story (1995)      Comedy
1           2              Jumanji (1995)   Adventure
1           2              Jumanji (1995)  Children's
...       ...                         ...         ...
3879     3949  Requiem for a Dream (2000)       Drama
3880     3950            Tigerland (2000)       Drama
3881     3951     Two Family House (2000)       Drama
3882     3952       Contender, The (2000)       Drama
3882     3952       Contender, The (2000)    Thriller

[6408 rows x 3 columns]

In [3]:
df['genres'].value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Fantasy          68
Western          68
Film-Noir        44
Name: genres, dtype: int64

In [4]:
ca_a = df['genres'].value_counts()
ca = list(ca_a.index)

num = list(ca_a.values)

id = list(range(len(ca)))
remap = {
    "category" : ca,
    "cate_count" : num,
    "cate_id" : id
}
ca_remap = pd.DataFrame(remap)

# ca_remap = ca_remap[~ca_remap['cate_count'].isin([1])] # 取反，删除只出现过1次的类别

ca_remap.to_csv('./category_list.txt', sep='\t', index=False)

ca_remap

       category  cate_count  cate_id
0         Drama        1603        0
1        Comedy        1200        1
2        Action         503        2
3      Thriller         492        3
4       Romance         471        4
5        Horror         343        5
6     Adventure         283        6
7        Sci-Fi         276        7
8    Children's         251        8
9         Crime         211        9
10          War         143       10
11  Documentary         127       11
12      Musical         114       12
13      Mystery         106       13
14    Animation         105       14
15      Fantasy          68       15
16      Western          68       16
17    Film-Noir          44       17